
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">


<dom-module id="richard-checkbox">
  <link rel="import" type="css" href="richard-checkbox.css">

  <template>

    <paper-checkbox></paper-checkbox>

  </template>

  <script>
    Polymer({
      is: 'richard-checkbox',
      properties: {
      }
    })
  </script>

</dom-module>
