<!DOCTYPE html>
<html lang="en">

<head>
  <title>// docs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- need to load polyfill webcomponents before any html imports -->
  <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <link rel="import" href="{{ url_for('static', filename='bower_components/elements.build.html') }}"> 

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59740481-2', 'auto');
    <!-- // ga('create', 'UA-59740481-2', 'none'); -->
    <!-- // ga('set', '&uip', '192.21.0.11'); -->
    ga('send', 'pageview');
    <!-- // ga('create', 'UA-XXXX-Y', 'none'); -->

  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>

  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <style>

    .node {
      cursor: pointer;
    }

    .node:hover {
      stroke: #000;
      stroke-width: 1.5px;
    }

    .node--leaf {
      fill: white;
    }

    .label {
      font-size: 13px;
      text-anchor: middle;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

    .label,
    .node--root,
    .node--leaf {
      pointer-events: none;
    }

    div.ontology {
      height: 800px;
      margin: 0 -24px 0 -24px;
    }


  </style>


</head>

<body>

<paper-material elevation="1" class=header>   
  <a href="{{ url_for('about') }}"><paper-icon-button icon="description"></paper-icon-button></a>
  <a href="{{ url_for('diary') }}"><paper-icon-button icon="apps"></paper-icon-button></a>
</paper-material>

<div class=docs>

<h2>Introduction:</h2>

<paper-material class=docs>
  <h4>Problem Space</h4>
  <hr>
  <img style="max-width:100%; display:block; margin: 20px auto 20px auto;" src="{{ url_for('static', filename='img/problem_space.png') }}"></img>
  <hr>
  <p>Develop a framework to address the analysis & design piece of a common structural engineering workflow.</p>
  <p>Accept that individual problem definitions are never fully understood at their onset. Framework to be appropriately adaptable to accomodate emerging constraints with minimal latency.</p>
  <p>Solution to address issues of data scale, user scale, and function scale, while aggregating large amounts of domain expertise into a single point of access.</p>
  <br>
</paper-material>
<br>

<paper-material class=docs>
  <h4>Analysis & Design Pipeline</h4>
  <hr>
  <img style="max-width:100%; margin: 20px auto 20px auto;" src="{{ url_for('static', filename='img/pipeline.png') }}"></img>
  <hr>
  <p>A <arg>STRUCTURE</arg> is the highest level entity of the taxonomy. A <arg>STRUCTURE</arg> is composed of different <arg>SYSTEMS</arg>, which are often but not always mutually exclusive.</p>
  <p>A <arg>MODULE</arg> is a method of optimization. A <arg>MODULE</arg> consists of a single type of analysis, which feeds into multiple methods of design. The analysis of a <arg>STRUCTURE</arg> is done holistically. Design is <arg>SYSTEM</arg> specific within a given <arg>MODULE</arg>.</p>
  <p>Analysis & Design within a <arg>MODULE</arg> is cyclical. A <arg>STEP</arg> is a cached representation of a <arg>STRUCTURE</arg> after a single cycle. <arg>STEPS</arg> are always cached after Analysis.</p>
  <p>A <arg>TASK</arg> is the collection of <arg>STEPS</arg> that compose the completion of a <arg>MODULE</arg>.</p>
  <br>
</paper-material>
<br>

<paper-material class=docs>
  <h4>System Architecture</h4>
  <hr>
  <img style="max-width:100%; margin: 20px auto 20px auto;" src="{{ url_for('static', filename='img/system_architecture.png') }}"></img>
  <hr>
  <p>The <arg>ASYNCHRONOUS TASK QUEUE</arg> allows for concurrent background processing of multiple long-running tasks. This frees up the UI for the user to do other things.</p>
  <br>
</paper-material>
<br>

<paper-material class=docs>
  <h4>Data Model</h4>
  <hr>
  <div class=ontology></div>
  <hr>
  <p>The data model of a <arg>STRUCTURE</arg>.</p>
  <br>
</paper-material>
<br>

<paper-material class=docs>
  <h4>Coordinate System</h4>
  <hr>
  <img style="max-width:30%; display:block; margin: 20px auto 20px auto;" src="{{ url_for('static', filename='img/local_axis.png') }}"></img>
  <hr>
  <p>Local axis of 1d elements</p>
  <br>
</paper-material>
<br>

<paper-material class=docs>
  <h4>Notes</h4>
  <hr>
  <p>use me in <a href="http://www.google.com/intl/en/chrome/" target="_blank">Chrome</a></p>
  <p>i <a href="http://caniuse.com/#search=templates" target="_blank">will not work</a> in IE</p>
  <p>developed to extend <a href="http://www.oasys-software.com/products/engineering/gsa-analysis.html" target="_blank">Oasys GSA 8.7</a></p>
  <p>dummy elements will be ignored across all modules</p>
  <p>section catalogues must be present in GSA prior to initializing a model</p>
  <br>
</paper-material>
<br>

<h2>Modules:</h2>
{% for module_id, module in modules.items() %}
<paper-material class=docs>
  <div class=module>
    <div class=name>{{ module.name }}</div>
    <div class=tag>#{{ module_id }}</div>
  </div>
</paper-material>
<br>

  <paper-material class=docs>
  <h4>Systems:</h4>    
  {% for system_id, system in module.systems.items() %}
  </paper-material>

    <paper-material class=docs>
    <div class=system system="{{system_id}}" module="{{module_id}}">
      <div class=var style="border-left: 10px solid {{system.colour}}; padding-left: 12px;">{{system_id}}</div>
      <div class=def>{{system.title}}<br><br>{{system.description|safe}}</div>
    </div>
    </paper-material>

    <div class=args>
    <iron-collapse class=args system="{{system_id}}" module="{{module_id}}">
      {% for arg_id, arg in system.args.items() %}
        {% if arg.visibility != "hidden" %}
        <div class=input>
          <div class=var>{{arg_id}}</div>
          {% for colour in arg.systems %}
          <div class=colorbar style="border-left: 3px solid {{colour}}; padding-left: 12px;"></div>
          {% endfor %}
          <div class=def>{ {{arg.data_type}} }<br><br>{{arg.description|safe}}</div>
        </div>
        {% endif %}
      {% endfor %}
      <br>
    </iron-collapse>
    </div>

  {% endfor %}
</paper-material>
<br><br><br>
{% endfor %}

</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/node_modules/jquery/dist/jquery.js') }}"></script>
  <script>

    // task item selection
    document.addEventListener('WebComponentsReady', function() {
      $('div.system').click(function() {

        // toggles step item collapse within task
        $('iron-collapse[system=' + this.attributes.system.value + ']' + '[module=' + this.attributes.module.value + ']')[0].toggle();

      });  
    });

    $(window).resize( function() {
      d3.select("div.ontology").selectAll("*").remove();
      draw();
    });

    function draw() {
      var margin = 20,
      diameter = $("div.ontology").height() - 100;

      var color = d3.scale.linear()
        .domain([-1, 5])
        .range(["#FFFFFF", "#212121"])
        .interpolate(d3.interpolateHcl);

      var pack = d3.layout.pack()
        .padding(2)
        .size([diameter - margin, diameter - margin])
        .value(function(d) { return d.size; })

      var svg = d3.select("div.ontology").append("svg")
        .attr("width", $("div.ontology").width())
        .attr("height", $("div.ontology").height())
        .append("g")
        .attr("transform", "translate(" + ($("div.ontology").width() / 2) + "," + ($("div.ontology").height() / 2) + ")");

      d3.json("{{ url_for('json_temp', filename='ontology.json') }}", function(error, root) {
        if (error) throw error;

        var focus = root,
          nodes = pack.nodes(root),
          view;

        var circle = svg.selectAll("circle")
          .data(nodes)
          .enter().append("circle")
          .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
          .style("fill", function(d) { return d.children ? color(d.depth) : null; })
          .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

        var text = svg.selectAll("text")
          .data(nodes)
          .enter().append("text")
          .attr("class", "label")
          .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
          .style("display", function(d) { return d.parent === root ? null : "none"; })
          .text(function(d) { return d.name; });

        var node = svg.selectAll("circle,text");

        d3.select("div.ontology")
          .style("background", color(-1))
          .on("click", function() { zoom(root); });

        zoomTo([root.x, root.y, root.r * 2 + margin]);

        function zoom(d) {
          var focus0 = focus; focus = d;

          var transition = d3.transition()
            .duration(d3.event.altKey ? 7500 : 750)
            .tween("zoom", function(d) {
              var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
              return function(t) { zoomTo(i(t)); };
            });

          transition.selectAll("text")
            .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
            .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
            .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
            .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
        }

        function zoomTo(v) {
          var k = diameter / v[2]; view = v;
          node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
          circle.attr("r", function(d) { return d.r * k; });
        }
      });

      d3.select(self.frameElement).style("height", diameter + "px");
    }

    draw();
  </script>



</body>