<!DOCTYPE html>
<html lang="en">

<head>
	<title>// diary</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<!-- need to load polyfill webcomponents before any html imports -->
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
	<script data-main="{{ url_for('static', filename='js/page_diary.js') }}" src="{{ url_for('static', filename='js/node_modules/requirejs/require.js') }}"></script>

	<link type="text/html" rel="import" href="{{ url_for('static', filename='components/elements.html') }}">  

	<link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/node_modules/roboto-font/css/fonts.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59740481-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>

  <paper-material elevation="1" class=header>  	
  	<a href="{{ url_for('about') }}"><paper-icon-button icon="description"></paper-icon-button></a>
  	<a href="{{ url_for('diary') }}"><paper-icon-button icon="apps"></paper-icon-button></a>
  </paper-material>

  <paper-fab icon="cloud-upload" class="new_proj" id="new_proj" elevation="1"></paper-fab>

	<ol class=squares>
		{% for schema, status in schemata.items() %}
		<li class=square id="{{ schema }}">		
			{% if status == 'ACTIVE' %}
			<paper-button raised class=square id="{{ schema }}" style="animation: glowing 2000ms infinite;"><h4>{{ schema }}</h4></paper-button>
			{% else %}
			<paper-button raised class=square id="{{ schema }}"><h4>{{ schema }}</h4></paper-button>
			{% endif %}	
			<paper-icon-button id="{{ schema }}" icon="clear"></paper-icon-button>
		</div>
		{% endfor %}
	</ol>

  <paper-dialog with-backdrop id="delete">
    <h2>Delete Structure</h2>
    <p>This will permanently erase all data</p>
    <div class="buttons">
      <paper-button dialog-dismiss>Cancel</paper-button>
    	<form id="delete" method="POST"><paper-button id="delete" dialog-confirm autofocus>Confirm</paper-button></form>
    </div>
  </paper-dialog>

  <paper-dialog class=small id="new_proj" entry-animation="slide-from-bottom-animation" exit-animation="slide-to-bottom-animation" with-backdrop>
		<form is="iron-form-mp" role="form" id="new_proj" class="small" name="form" method="post" action="/richard/diary" enctype="multipart/form-data">
		<div class=header>
			<h2>Upload a New Structure</h2>
		</div>
		<div class=box>
		  <div class="row content">
		    <h4>GSA Model:</h4>
				{{ init_form.gsamodel }}
				<br><br>
			  <h4>Description:</h4>
				{{ init_form.descr(rows=8,cols=30)}}
				{% if init_form.descr.errors %}
		      <ul class=errors>
		      {% for error in init_form.descr.errors %}
		        <li>{{ error }}</li>
		      {% endfor %}
		      </ul>
		    {% endif %}
		  </div>
		</div>
		<div class=buttons>
		  <paper-button id="new_proj" dialog-confirm>Create</paper-button>
		</div>
		</form>
  	</paper-dialog>
	<img class=logo src="../static/img/arup.png"></img>


</body>
</html>