<!DOCTYPE html>
<html lang="en">

<head>
	<title>// MEX</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- need to load polyfill webcomponents before any html imports -->
  <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <link rel="import" href="{{ url_for('static', filename='bower_components/elements.build.html') }}"> 
  
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59740481-2', 'auto');
		ga('send', 'pageview');
	</script>
  
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
	<form id="send_gh" action="{{ url_for('send_gh') }}" method="POST">
		<paper-button raised style="background-color: #EF5350;" class="mex" id="send_gh" elevation="1"><h4>get gh</h4></paper-button>
	</form>
	<form id="circle_pack" action="{{ url_for('circle_pack') }}" method="POST">
		<paper-button raised style="background-color: #66BB6A;" class="mex" id="circle_pack" elevation="1"><h4>circle pack json</h4></paper-button>
	</form>

	<paper-dialog class=small id="circle_pack" entry-animation="slide-from-bottom-animation" exit-animation="slide-to-bottom-animation" with-backdrop>
		<form is="iron-form-mp" role="form" id="circle_pack" class=small method="post" action="/mex" enctype="multipart/form-data">
		<div class=header>
			<h2>Upload JSON</h2>
		</div>
		<div class=box>
		  <div class="row content">
		    <h4>JSON:</h4>
				{{ form.json }}
		  </div>
		</div>
		<div class=buttons>
		  <paper-button class=submit id="circle_pack" dialog-confirm>submit</paper-button>
		</div>
		</form>
  </paper-dialog>


	<img class=logo src="../static/img/arup.png"></img>


	<script>

    // send_gh button press
    document.addEventListener('WebComponentsReady', function() {
      $('paper-button#send_gh').click( function() {
        $('form#send_gh')[0].submit();
      });    
    });

    // circle_pack button press
		document.addEventListener('WebComponentsReady', function() {
			$("paper-button#circle_pack").click( function() {
				$("paper-dialog#circle_pack")[0].open();
			});
	  });

		// circle_pack submit
		document.addEventListener('WebComponentsReady', function() {
	    $("paper-button.submit#circle_pack").click( function() {
	    	$("form.small#circle_pack")[0].submit();
	    });
	  });

	</script>

	<script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>

</body>
</html>