<!DOCTYPE html>
<html lang="en">

<head>
  <title>// {{ schema_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- need to load polyfill webcomponents before any html imports -->
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
  <script data-main="{{ url_for('static', filename='js/page_schema.js') }}" src="{{ url_for('static', filename='js/node_modules/requirejs/require.js') }}"></script>

  <link type="text/html" rel="import" href="{{ url_for('static', filename='components/elements.html') }}">  

  <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/node_modules/roboto-font/css/fonts.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59740481-2', 'auto');
    ga('send', 'pageview');
  </script>

</head>

<body>

  <paper-drawer-panel class=queue>
    <div drawer>
      <!-- make a queue polymer element -->
      <paper-material elevation="1" class=queue>
	      <template is="dom-bind" class=queue taskid="0" stepid="0" schemaname="{{ schema_name }}">
          
          {% for task_id, task in tasks.items() %}
					<paper-material elevation="1">
		  		  <richard-task-item taskid="{{ task_id }}" module="{{ task.module }}" status="{{ task.status }}" systems="{{task.system_ids|string}}"></richard-task-item>
	  		  </paper-material>

					<iron-collapse taskid="{{ task_id }}">
        		<paper-menu taskid="{{ task_id }}" class=step style="background-color: #EEEEEE;">

	  		  		{% for step_id, step in task.steps.items() %}
	  		  		<richard-step-item stepid="{{ step_id }}" taskid="{{ task_id }}" primary="--" status="{{ step.status }}" module="{{ task.module }}" systems="{{task.systems}}"></richard-step-item>
	    				{% endfor %}

	    			</paper-menu>
    			</iron-collapse>
	    		{% endfor %}

	    		<paper-material class="fill" elevation="1">
		  		</paper-material>

	      </template>
			</paper-material>
    </div>
    <div main>
      <div id="drawerbutton">
        <paper-button paper-drawer-toggle raised>toggle drawer</paper-button>
      </div>

	    <div class="meta">
	    	<div class="args"></div>
	    </div>

      <!-- charts go here -->

    </div>
  </paper-drawer-panel>

  <paper-material elevation="1" class=header>  	
  	<a href="{{ url_for('about') }}"><paper-icon-button icon="description"></paper-icon-button></a>
  	<a href="{{ url_for('diary') }}"><paper-icon-button icon="apps"></paper-icon-button></a>
  </paper-material>
  <form id="optimize" action="{{ url_for('optimize', schema_name=schema_name) }}" method="POST"><paper-fab icon="gesture" id="optimize" elevation="1"></paper-fab></form>
  <paper-fab icon="add" id="new_task" elevation="1"></paper-fab>

  <paper-dialog class=large id="new_task" entry-animation="slide-from-bottom-animation" exit-animation="slide-to-bottom-animation" with-backdrop>
    <div class=header><h2>Add Task to Queue</h2></div>
    <div class=box><div class="row content">

	    <h4>Module:</h4>
			<iron-selector class="module" name="module">
        {% for module_id, module in modules.items() %}
	      <option module="{{module_id}}" value="{{module_id}}" label="{{module.name}}"></option>
        {% endfor %}
      </iron-selector>
      <input type="hidden" name="module">
      <br>

	    <h4>System:</h4>
      {% for module_id, module in modules.items() %}
        {% for system_id, system in module.systems.items() %}
          {% if system_id == "glbl" %}
            <paper-checkbox class="system" checked disabled module="{{module_id}}" system="{{system_id}}" style="display: none;">{{system_id}}</paper-checkbox>
            <iron-collapse class="system" module="{{module_id}}" system="{{system_id}}">
              {% for arg_id, arg in system.args.items() %}
                <richard-input module="{{module_id}}" system="{{system_id}}" fieldtype={{arg.field_type}} {{arg.visibility}} value="{{arg.default}}" name="{{arg_id}}" data-type="{{arg.data_type}}" auto-validate pattern="{{arg.validation}}" error-message="{{arg.error}}" label="{{arg_id}} {{arg.units}}"></richard-input>
              {% endfor %}
            </iron-collapse>
          {% else %}

         	<paper-checkbox class="system" module="{{module_id}}" system="{{system_id}}" style="display: none;">
          	{{system_id}}
  	    		<iron-selector name="method">
  	    			<paper-icon-button {{system.opt}} icon="swap-vert" value="opt"></paper-icon-button>
  	    			<paper-icon-button {{system.add}} icon="add" value="add"></paper-icon-button>
  	    			<paper-icon-button {{system.chk}} icon="check" value="chk"></paper-icon-button>
  	        </iron-selector>
         	</paper-checkbox>

  	  		<iron-collapse class="system" module="{{module_id}}" system="{{system_id}}">
            {% for arg_id, arg in system.args.items() %}
              <richard-input module="{{module_id}}" system="{{system_id}}" fieldtype={{arg.field_type}} {{arg.visibility}} value="{{arg.default}}" name="{{arg_id}}" datatype="{{arg.data_type}}" auto-validate pattern="{{arg.validation}}" error-message="{{arg.error}}" label="{{arg_id}} {{arg.units}}"></richard-input>
            {% endfor %}
  	  		</iron-collapse>
          {% endif %}
        {% endfor %}
      {% endfor %}

  	</div>
    </div>

    <div class=buttons>
 			<paper-input name="step_limit" id="step_limit" auto-validate pattern="^[0-9]*$" error-message="Input an Integer from 1-9" label="step limit"></paper-input>
    	<paper-button id="submit">Add</paper-button>
  	</div>
  </paper-dialog>
  <img class=logo src="{{ url_for('static', filename='img/arup.png') }}"></img>

</body>

</html>