html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #F5F5F5;
}

paper-icon-button {
  color: #455A64;
}


paper-material.header paper-icon-button {
  margin-top: 56px;
  margin-right: 0px;
}


paper-fab.new_proj {
  background: #78909C;
  position: fixed;
  right: 40px;
  top: 70px;
  z-index: 3;
}

paper-fab#optimize {
  background: #00BFA5;
  position: fixed;
  right: 40px;
  top: 70px;
  z-index: 3;
}

paper-fab#new_task {
  background: #78909C;
  position: fixed;
  right: 134px;
  top: 70px;
  z-index: 3;
}

.paper-checkbox-0 #checkboxLabel.paper-checkbox {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
}

paper-checkbox > div > iron-selector {
  position: absolute;
  right: 0;
  top: -10px;
}

iron-selector.module > option {
  padding: 6px 0 6px 6px;
  font-size: 16px;
  color: #757575;
}

div.file_upload {
  margin: 8px 0 8px 0;
  position: relative;
  width: 318px;
  height: 44px;
  border-bottom: 1.5px solid #757575; 
}

div.file_upload > p {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  height: 22px;
  position: absolute;
  left: 0px;
  bottom: 22px;
}

iron-collapse.system > div.file_upload > form > input {
  font-family: 'Roboto', sans-serif;
  padding: 2px 0 2px 0;
  font-size: 14px;
  position: absolute;
  bottom: 1px;
}

iron-collapse.system {
  margin-bottom: 24px;
  border-left: 10px solid #CFD8DC;
  padding-left: 8px;
}

paper-checkbox > div {
  width: 320px;
}

.iron-selected {
  background-color: #B0BEC5;
  font-weight: bold;
  @apply(--paper-menu-selected-item);
}


paper-dialog.small {
    width: 300px;
    height: 480px;
}

paper-dialog.large {
    width: 400px;
    height: 640px;
}

div#contentIcon {
    width: 48px;
}

div#contentIcon > div > h2 {
    text-align: center;
}

body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: column;
  -ms-flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

paper-menu { 
  padding: 0;
}


body > div.docs {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  order: 2;
  -ms-flex-order: 2;
  position: relative;
  overflow-y: scroll;
  z-index: 1;
  padding: 40px;
  padding-top: 20px;
  font-family: 'Arvo', serif;
}

div.meta > div.args {
  padding: 0;
  margin: auto;
  margin-left: 0px;
  max-width: 800px;
}

div.args {
  padding: 0 24px 0 24px;
  margin: auto;
  margin-left: 0px;
  max-width: 800px;
}

div.input:not(:first-child) {
  border-top: 1px dashed #9E9E9E;  
}

paper-material.docs {
  background-color: white;
  padding: 0 24px 0 24px;
  border: 1px solid #e5e5e5;
  margin: auto;
  margin-left: 0px;
  max-width: 800px;
}

hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 -24px 0 -24px;
  padding: 0;
}


body > div.docs div.step div.equation {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: row;
  -ms-flex-direction: row;
  padding: 0 0 0 36px;
  font-size: 14px;

}

body > div.docs div.step div.equation div.desc {
  -webkit-box-flex: 0 0 30%;
  -moz-box-flex: 0 0 30%;
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  padding-right: 24px;
}

body > div.docs div.step div.equation div.math {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  vertical-align: middle;
}

textarea {
  resize: none;
}

arg {
  font-weight: 700;
  font-family: 'Inconsolata';  
  background-color: #E0E0E0;
  padding: 1px;
}




body > div.docs div.input {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: row;
  -ms-flex-direction: row;
  padding: 12px 0 12px 0;
  height: auto;
  font-size: 14px;
}

body > div.docs div.input div.var {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 700;
  font-family: 'Inconsolata';
  padding-right: 24px;
}

body > div.docs div.input div.def {
  -webkit-box-flex: 0 0 70%;
  -moz-box-flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  padding-left: 12px;
}

body > div.docs div.system {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: row;
  -ms-flex-direction: row;
  padding: 12px 0 12px 0;
  height: auto;
  font-size: 14px;
}

body > div.docs div.system div.var {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 700;
  font-family: 'Inconsolata';
  padding-right: 24px;
  font-size: 18px;
}

body > div.docs div.system div.def {
  -webkit-box-flex: 0 0 70%;
  -moz-box-flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}

body > div.docs div.step {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: row;
  -ms-flex-direction: row;
  padding: 12px 0 12px 0;
  height: auto;
  font-size: 14px;
}

body > div.docs div.step div.number {
  -webkit-box-flex: 0 0 20px;
  -moz-box-flex: 0 0 20px;
  -webkit-flex: 0 0 20px;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  font-size: 16px;
  padding-right: 24px;
}

body > div.docs div.step div.desc {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 16px;
  padding-right: 0;
}

body > div.docs div.step div.def {
  -webkit-box-flex: 0 0 70%;
  -moz-box-flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}


body > div.docs div.module {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: row;
  -ms-flex-direction: row;
  padding: 12px 0 12px 0;
  height: auto;
}

body > div.docs div.module div.name {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 22px;
}

body > div.docs div.module div.tag {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: right;
  font-size: 18px;
  font-weight: 100;
}





body > paper-drawer-panel.queue {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  order: 2;
  -ms-flex-order: 2;
  position: relative;
  z-index: 1;
}


div#main > div > div.meta {
  position: relative;
  height: auto;
  display: none;
  padding: 12px;
  color: #37474F;
}

div#main > div > div.meta > div.args {
  position: relative;
  left: 0;
  top: -18px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: #00BFA5;
  font-weight: 700;
  text-decoration: none;
}


body > paper-drawer-panel.queue div#drawer paper-material.queue {
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-color: #F5F5F5;*/
  background-color: white;
}

body > paper-drawer-panel.queue div#drawer paper-material.queue iron-collapse{
  /*margin-bottom: 4px;*/
}

div#main > div > div#drawerbutton {
    height: auto;
}

div#main > div {
    overflow-y: auto;
}


div#main paper-material.chart {
    margin: auto;
    margin-top: 0;
    margin-bottom: 12px;
    width: 500px;
}


body > paper-material.header {
  background: #E0E0E0;
  padding-left: 10px;

  -webkit-box-flex: 0 0 100px;
  -moz-box-flex: 0 0 100px;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;

  order: 1;
  -ms-flex-order: 1;
  z-index: 2;
}

paper-material.queue {
  height: 100%;  
  overflow-y: auto;
}



form.small {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: column;
  -ms-flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

form.small .header {
  -webkit-box-flex: 0 1 100px;    /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0 1 100px;       /* OLD - Firefox 19- */
  -webkit-flex: 0 1 100px;        /* Chrome */
  -ms-flex: 0 1 100px;            /* IE 10 */
  flex: 0 1 100px;                /* NEW, Spec - Opera 12.1, Firefox 20+ */

  background: #546E7A;
  color: white;
  position: relative;
  margin-bottom: 12px;
}

form.small .header > h2 {
  margin: 24px;
  position: absolute;
  bottom: 0;
}

paper-dialog .box h4 {
  margin: 0 0 12px 0;
  font-weight: 400;
}


form .box h4 {
  margin: 0 0 12px 0;
  font-weight: 400;
}

form.small .box {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: column;
  -ms-flex-direction: column;

  overflow-y: auto;
}

form.small .row.content {
  min-height: -webkit-min-content;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: column;
  -ms-flex-direction: column;

  padding-left: 24px;
  padding-right: 24px;
}

paper-dialog#new_task {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: column;
  -ms-flex-direction: column;
  margin: 36px 0 36px 0;
}

paper-dialog#new_task .header {
  -webkit-box-flex: 0 1 100px;    /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0 1 100px;       /* OLD - Firefox 19- */
  -webkit-flex: 0 1 100px;        /* Chrome */
  -ms-flex: 0 1 100px;            /* IE 10 */
  flex: 0 1 100px;                /* NEW, Spec - Opera 12.1, Firefox 20+ */

  background: #546E7A;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

paper-dialog#new_task .header > h2 {
  margin: 24px;
  position: absolute;
  bottom: 0;
}

paper-dialog#new_task .box {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: column;
  -ms-flex-direction: column;

  overflow-y: scroll;
  margin: 0;
}

paper-dialog#new_task .row.content {
  min-height: -webkit-min-content;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */ 

  flex-direction: column;
  -ms-flex-direction: column;

  padding-left: 24px;
  padding-right: 24px;
}


paper-dialog#new_task .buttons {
  flex: 0 1 auto;
  border-top: 1px solid #E0E0E0;
  position: relative;
}

paper-dialog#new_task .buttons > paper-input {
  width: 100px;
  position: absolute;
  bottom: 6px;
  left: 24px;
}

div.box {
  padding: 24px 0 24px 0;
}


ol.squares {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  order: 2;
  -ms-flex-order: 2;
  position: relative;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 0 12px 12px;
  overflow-y : scroll;
}


li.square {
  padding: 0px;
  margin: 0px;
  margin-right: 12px;
  margin-top: 12px;
  background-color: none;
  height: 140px;
  width: 140px;
  float: left;
  list-style-type: none;
  position: relative;
}


paper-button.square > paper-material.content {
  height: 120px;
  width: 120px;
  padding: 10px;
}


paper-button.square {
  vertical-align: text-top;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #263238;
  word-wrap: break-word;
  background-color: #E1F5FE;
  direction: ltr;
}

li.square > paper-icon-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: none;
}


h1{
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-margin-before: 0.47em;
    -webkit-margin-after: 0.47em;
    vertical-align: top;
}

h2{
    font-weight: 300;
    -webkit-font-smoothing:antialiased;
    vertical-align: top;
  font-size: 26px;
}

h3{
  font-weight: 300;
  -webkit-font-smoothing:antialiased;
  vertical-align: top;
  font-size: 22px;
}

h4{
    font-weight: 300;
    -webkit-font-smoothing:antialiased;
    vertical-align: top;
  font-size: 18px;
}

p {
  font-weight: 100;
  -webkit-font-smoothing:antialiased;
  vertical-align: middle;
  font-size: 14px;
  margin: 14px 0 0 0;
  word-wrap: break-word;
  white-space: normal;
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

img.load {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 0;
}

img.logo {
    position: fixed;right:0;bottom:0;
    margin-right: 24px;
    margin-bottom: 10px;
    opacity: 0.3;
    z-index: 0;
}

.gnrl#lambda_crit {
    display: none;
}

@keyframes glowing {
  0% { background-color: #FAFAFA; }
  50% { background-color: #A7FFEB; }
  100% { background-color: #FAFAFA; }
}