<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="richard-input">
  <link rel="import" type="css" href="richard-input.css">

  <style>

    div.drop_down {
      margin: 8px 0 8px 0;
      position: relative;
      width: 318px;
      height: 44px;
      border-bottom: 1.5px solid #757575;
    }

    div.drop_down > p {
      text-align: left;
      font-size: 16px;
      font-weight: 400;
      color: #757575;
      height: 22px;
      position: absolute;
      left: 0px;
      bottom: 0px;
    }

    div.drop_down > select {
      font-family: 'Roboto', sans-serif;
      padding: 2px 0 2px 0;
      font-size: 14px;
      position: absolute;
      right: 0px;
      bottom: 3px;
    }

  </style>

  <template>

    <template is="dom-if" if="{{_isTextField(fieldtype)}}">
      <paper-input value="{{value}}" name="{{name}}" datatype="{{datatype}}" auto-validate pattern="{{pattern}}" error-message="{{error-message}}" label="{{label}}"></paper-input>
    </template>

    <template is="dom-if" if="{{_isDropDown(fieldtype)}}">
      <div value="value" class="drop_down">
        <p>{{name}}</p>
        <select system="{{system}}" name="{{name}}" datatype="{{datatype}}"></select>
      </div>
    </template>

  </template>

  <script>
    Polymer({
      is: 'richard-input',

      properties: {
        fieldtype: String,
        datatype: String
      },

      _isTextField: function(fieldtype) {
        return fieldtype === 'text';
      },

      _isDropDown: function(fieldtype) {
        return fieldtype === 'drop_down';
      }

    })
  </script>

</dom-module>
